.img{
    padding-left: 40%;
    background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
}
.tienda{
    width: 400px;
    height: 400px;
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
}
.conteinerTienda{
    background-color: $colorrojito;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows:1fr 1fr ;
    place-items: center;
}
.imgTienda{
    max-width: 100%;
    width: 1rem;
    height: 1rem;
}
.btn{
    align-items: center;

}