* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
}

.encabezado {
  display: flex;
  border-style: solid;
  background: linear-gradient(0deg, rgb(1, 1, 1) 0%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%);
  color: black;
}

.logo {
  padding-inline: 10px;
  display: inline-block;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 140px;
  color: white;
  align-items: center;
}

.a {
  border-style: solid;
  padding: 3px;
  text-decoration: none;
  color: black;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(97, 97, 97) 50%, rgb(0, 0, 0) 100%);
  size: 22px;
}

.a:hover {
  transform: scale(1.5);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: black;
}

.seccion {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.links {
  width: 100%;
  height: 100%;
}

.menu2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.a2 {
  border-style: solid;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: black;
  background: rgb(59, 54, 54);
  background: linear-gradient(90deg, rgb(77, 77, 77) 0%, rgb(0, 0, 0) 50%, rgb(77, 77, 77) 100%);
}

.a2:hover {
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: black;
}

.imagen2 {
  width: 100%;
  height: 420px;
}

.pie {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: black;
  line-height: 20px;
}

.p {
  color: white;
  margin: 6px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59, 54, 54);
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 0;
  line-height: 1.2;
}

h2, h5, h3 {
  color: white;
}

/* pagina comentarios */
.comentarios {
  width: 100%;
  background-color: rgb(206, 10, 10);
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
  padding-bottom: 10px;
}

.cuadro {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  background-color: rgb(206, 10, 10);
  padding-bottom: 40px;
}

.texto {
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  padding: 100px;
}

.button {
  width: 100px;
}

.titulo {
  border-style: solid;
  background-color: rgb(59, 54, 54);
  padding: 10px;
  font-weight: bold;
}

/*pagina productos*/
.lista {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  list-style: none;
}

.productos {
  display: grid;
  place-items: center;
  padding: 20px;
  border: solid rgb(59, 54, 54);
  background-color: rgb(206, 10, 10);
  text-transform: uppercase;
  font-size: x-large;
  text-decoration: underline;
}

/* pagina sobre nosotros */
.sobrenosotros {
  width: 100%;
  background-color: rgb(206, 10, 10);
  padding-top: 20px;
  padding-bottom: 20px;
}

.lista2 {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/*pagina servicios*/
.seccion-servicios {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  list-style: none;
  place-items: center;
  background-color: rgb(206, 10, 10);
  padding: 10px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  background-color: black;
  margin: 15px;
}

.card-title {
  font-size: x-large;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: white;
}

.card-text {
  color: white;
  font-size: larger;
}

.img {
  padding-left: 40%;
  background: linear-gradient(0deg, rgb(1, 1, 1) 0%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%);
}

.tienda {
  background-color: rgb(138, 134, 134);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.conteinerTienda {
  background-color: rgb(206, 10, 10);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 0.5rem;
}

.imgTienda {
  border-radius: 5px;
  width: 7rem;
  height: 7rem;
}

.btn-comprar {
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid;
}

.carrito {
  margin-left: 15rem;
  width: 2rem;
  height: 2rem;
}

/*******pagina carrito*******/
.super-contenedor {
  height: 100vh;
  background-color: rgb(206, 10, 10);
  padding: 2rem;
}

.cont-botones {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(59, 54, 54);
  border-radius: 15px;
}

.boton-volver {
  border-style: solid;
  padding: 3px;
  text-decoration: none;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 2rem;
  margin: 3rem;
}

.conteiner-carrito {
  display: flex;
}

/*animista*/
.bounce-in-fwd {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/*responsive mobile*/
@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    font-size: 11px;
  }
  .a {
    width: 170px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .encabezado {
    height: 170px;
  }
  .seccion {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }
  .menu2 {
    display: flex;
    flex-direction: row;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
  }
  .a2 {
    padding-left: 0;
    padding-right: 0;
  }
  .pie {
    font-size: 13px;
  }
  .lista2 {
    font-size: 14px;
  }
  .seccion-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .card {
    width: 100%;
    height: 100px;
    margin: 5px;
  }
  .card .card-text {
    font-size: small;
  }
  .card .card-title {
    font-size: small;
  }
  .logo {
    width: 75%;
  }
  .a {
    width: 90%;
    height: 100px;
    border-bottom: 4px;
  }
  .lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */